.main.main {
    margin: 20px;
}

.clear {
    clear: both;
}

input[type="button"], input[type="submit"], input[type="reset"] {
    visibility: visible !important;
}


.main-menu.main-menu-static {

    font-weight: bold;
}

.main-menu.main-menu-static .main-menu__link {
    color: #8F0D57;
}

.admin-shop-container {
    color: #222;
    font-size: 14px;
    margin: 40px;
}

.admin-shop-modules {
    float: left;
    width: 20%;
    border-right: #8F0D57 1px solid;
}

.admin-shop-modules li {
    line-height: 25px;
}

.admin-shop-modules li.active {
    font-weight: bold;
}


.admin-shop-form, .admin-shop-list, .admin-shop-content {
    float: right;
    width: 79%;
}

.admin-shop-form {
    border-bottom: #000 1px solid;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.admin-shop-list table {
    width: 100%;
}

.admin-shop-content table {
    width: 100%;
}

.admin-shop-content table.small {
    width: auto;
}

.admin-shop-content table tr td:first-child {
    width: 200px;
}

.admin-shop-content table tr td input,
.admin-shop-content table tr td textarea,
.admin-shop-content table tr td select {
    width: 100%;
}

.admin-shop-content table tr td input.button {
    width: auto;
}

input[type=button].remove {
    color: red;
}


.tournament-players form.fbtn {
    display: inline;
}

.tournament-players .tour_players {
    margin: 20px 0;
    float: left;
    width: 40%;
    border: 1px solid;
    border-radius: 15px;
    padding: 20px;
    background-color: #8080800d;
}

.tournament-players .tour_players.t_big {
    margin-bottom: 50px;
}


.tour_players h2 {
    background-color: #0000ff24;
    border-radius: 15px;
    width: 90px;
    padding: 20px;
}

.tournament-players .tour_draws {
    float: right;
    width: 59%;
}


table.draw-score {
    margin: 10px;
}

table.draw-score th {
    max-width: 130px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

table.draw-score th, table.draw-score td {
    padding: 9px !important;
    margin: 9px !important;
}

table.draw-score.olymp td {
    vertical-align: middle;
}


.draw-score  input.score {
    border: 1px solid gray;
    width: 50px;
}

